@import "./components/colours";
@import "./components/reset";
@import "./components/typography";
@import "./components/mediaqueries";

@mixin kflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}


header {
  height: 100vh;
  width: 100vw;
  background-image: url(https://res.cloudinary.com/duxfzk6uy/image/upload/v1682980398/Kanoms/Background_d3qhym.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  nav {
    
    padding: 2rem 6rem;
    margin-bottom: 80px;
    @include kflex;

    @media (max-width: $small) {
      padding: 2rem 15px;
      margin: 0 auto;
    }

    @media (max-width: $medium) {
      padding: 2rem 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;

    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .left {
      .logo {
        @media (max-width: $medium) {
          display: flex;

        }
      }

      li {
        position: relative;
        @media (max-width: $medium) {
          display: none;
        }
      }
    }

    .menu {
      display: none;

      @media (max-width: $medium) {
        position: relative;
        display: flex;
        cursor: pointer;
        :hover {
          padding: 10px;
          background: #7272cf81;
          border: none;
          border-radius: 4px;
        }

        li {
          padding: 12px 16px;
          display: block;

          :hover {
            background-color: #ddd;
          }
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #7272cf81;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, 0%);
        top: 50%;
        left: 50%;
        z-index: 1;

      }

      .show {
        display: block;
      }

    }

    .right {
      ul {
        :first-child {
          @media (max-width: $medium) {
            display: none;
          }
        }
        i {
          display: none;
    
          @media (max-width: $small) {
            display: flex;
            
          }
        }
      }
    }
    ul {
      @include kflex;
      

      @media (max-width: $small) {
        
      }


      }

      .logo {
        @media (max-width: $small) {
          display: block;

        }
      }

      li {
        position: relative;
        @media (max-width: $small) {
          display: none;
        }

      
        
      }
      

      .btn {
        &:hover {
          transition: 0.25s;
          background-color: $btn-col;
          color: $txt-theme;
          cursor: pointer;
          border-color: $btn-col;
        }
      }
    }

    
  }

  main {
    margin: auto;
    @include kflex;
    flex-direction: column;
    gap: 4rem;

    @media (max-width: $medium) {
      padding: 1rem;
    }

    h1 {
      width: 50%;
      @media (max-width: $medium) {
        width: 100%;
      }
    }

    h2 {
      width: 50%;

      @media (max-width: $medium) {
        width: 80%;
      }
      
      @media (max-width: $small) {
        width: 100%;
      }

      
    }

    form {
      display: flex;
      gap: 30px;

      @media (max-width: $small) {
        flex-direction: column;
        align-items: center;
      }

      @media (max-width: $medium) {
        justify-content: center;
        position: relative;
        padding-bottom: 6rem;
      }
      input {
        width: 370px;
        height: 60px;
        border-radius: 100px;
        border: $grey-col 1px solid;
        outline: none;
        padding-left: 1rem;

        @media (max-width: $small) {
          width: 360px;
        }

        @media (max-width: $medium) {
          width: 300px;
        }
      }

      button {
        background-color: $btn-col;
        border-radius: 100px;
        border: none;
        outline: none;
        color: $txt-theme;
        &:hover {
          transition: 0.25s;
          background-color: $btn-col;
          opacity: 0.8;
          color: $txt-theme;
          cursor: pointer;
        }

        @media (max-width: $medium) {
          position: absolute;
          display: flex;
          flex-direction: column;
          bottom: 0px;
        }
      }
    }
  }
